* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(92, 0, 0);
    color: white;
  }
  
  .card-img-top {
    max-width: 380px;
  }
  
  //     background-color: #ffc107;
  
  .carrito {
    max-width: 35px;
  }
  
  .goTopButton {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  